@model PizzaModelForViews


<div class="container-md text-white">
    <div class="row">
        <hr class="border border-danger border-2 opacity-50 my-5">
        <div class="col-lg-4 col-md-6 col-sm-6 m-auto ">
            <h2 class="mb-3">Modifica pizza</h2>
            <form asp-controller="Pizza" asp-action="Update" asp-route-id="@Model.Pizzaa.Id" method="post" class="my-5 ">
                @Html.AntiForgeryToken()

                <div class="mb-3">
                    <label asp-for="Pizzaa.Name" class="form-label">Nome pizza</label>
                    <input asp-for="Pizzaa.Name" type="text" class="form-control bg-transparent text-white" placeholder="Inserisci il nome della pizza" required>
                    <span asp-validation-for="Pizzaa.Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Pizzaa.Description" class="form-label">Descrizione</label>
                    <textarea asp-for="Pizzaa.Description" rows="10" class="form-control bg-transparent text-white" placeholder=" inserisci un url di un immagine"></textarea>
                    <span asp-validation-for="Pizzaa.Description" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Pizzaa.Image" class="form-label">URL Immagine</label>
                    <input asp-for="Pizzaa.Image" type="text" class="form-control bg-transparent text-white" placeholder="inserisci un url di un immagine" required>
                    <span asp-validation-for="Pizzaa.Image" class="text-danger"></span>
                </div>

                <div class="my-3">
                    <label asp-for="Pizzaa.Price">Prezzo</label>
                    <input asp-for="Pizzaa.Price" type="number" class="form-control bg-transparent text-white" id="Price" step="0.01" placeholder="Enter price">
                    <span asp-validation-for="Pizzaa.Price" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <select asp-for="Pizzaa.PizzaCategoryId" rows="10" class="d-block w-100">
                        <option value=""></option>
                        @foreach (PizzaCategory Pizzacateg in Model.PizzaCategories)
                        {
                            @if (Model.Pizzaa.PizzaCategoryId == Pizzacateg.Id)
                            {
                                <option value="@Pizzacateg.Id" selected>@Pizzacateg.Title</option>
                            }
                            else
                            {
                                <option value="@Pizzacateg.Id">@Pizzacateg.Title</option>
                            }
                        }
                    </select>
                </div>
            


                <p class="text-center border-bottom "><button type="submit" class="btn btn-outline-danger btn-lg my-3 ">Aggiorna articolo</button></p>
            </form>
        </div>
        <hr class="border border-danger border-2 opacity-50 my-5">

    </div>
</div>